@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model _3_tier_architecture_Model.Models.Product

<h2 class="mb-3">Create Product</h2>

<form asp-action="Create" method="post" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Save
    </button>

    <a asp-action="Index" class="btn btn-secondary ms-2">
        Cancel
    </a>
</form>
