@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model _3_tier_architecture_Model.Models.Product

<h2 class="text-danger mb-3">Delete Product</h2>

<div class="card p-4 shadow-sm">
    <p>
        Are you sure you want to delete this product?
    </p>

    <ul class="list-group mb-3">
        <li class="list-group-item">
            <b>Name:</b> @Model.Name
        </li>
        <li class="list-group-item">
            <b>Price:</b> @Model.Price
        </li>
    </ul>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-danger">
            Yes, Delete
        </button>

        <a asp-action="Index" class="btn btn-secondary ms-2">
            Cancel
        </a>
    </form>
</div>

