
*{
    box-sizing: border-box;
}
.menu{
    float: left;
    width: 20%;
}
.menuitem{
    padding: 8px;
    margin-top: 7px;
    border-bottom: 2px solid silver;
}
.main{
    float: left;
    width:60% ;
    padding: 20px;
    overflow: hidden;
}
.right{
    background-color: aqua;
    float: left;
    margin-top: 10px;
    width: 100%;
    padding:10px ;
}
@media only screen and(max-width:800px) {
    .main{
        padding: 0%;
        width: 80%;
    }
    .right{
        width: 100%;
    }
}
@media only screen and(max-width:500px) {
    .manu,.main,.right,.menu1{
        width: 100%;
    }
}

.menu1{
    float: left;
    width: 100%;
    text-align: center;
}
.menu1 a{
    background-color: silver;
    padding: 7px;
    width: 100%;
    color: black;
    display: block;
    margin-top: 8px;
}