body {
        background-color: #f0f0f0;
        background-image: url('https://via.placeholder.com/150');
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        color: rgba(20, 20, 20, 0.9);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        padding: 50px;
    }

    h1 {
        color: rgb(255, 99, 71);
        text-transform: uppercase; 
        text-decoration: underline; 
        letter-spacing: 3px;
        word-spacing: 10px; 
        font-size: 3em; 
        font-weight: bold; 
        font-style: italic;
        font-variant: small-caps; 
    }

    p {
        color: hsl(200, 70%, 40%);
        font-size: 1.2em;
        line-height: 1.6;
        text-align: justify;
        text-indent: 30px; 
        margin: 30px auto;
        width: 70%;
        background-color: hsla(200, 100%, 80%, 0.3);
        padding: 15px;
        border-radius: 10px;
    }

    h2 {
        color: darkblue;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        word-spacing: 10px; 
        font-family: 'Georgia', serif;
        font-size: 3em;
        font-weight: bold;
        font-style: italic; 
        font-variant: small-caps; 
        margin-bottom: 50px;
    }

    .font {
        color: #333; 
        text-align: justify;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1px;
        word-spacing: 5px;
        font-family: 'Verdana', sans-serif;
        font-size: 1.2em;
        font-weight: normal;
        font-style: normal; 
        font-variant: normal;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    small {
        color: gray;
        font-size: 0.8em;
        font-style: italic;
        font-variant: small-caps;
    }