
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model MvcCrudDemo.Models.Student

<h2>Edit Student</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <p>Name: @Html.TextBoxFor(m => m.Name)</p>
    <p>Age: @Html.TextBoxFor(m => m.Age)</p>
    <p>Email: @Html.TextBoxFor(m => m.Email)</p>
    <button type="submit">Save</button>
}
<a href="/Student/Index">Back</a>
