@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Sidebar Menu</h4>
<ul>
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/Home/About">About</a></li>
    <li><a href="/Home/Contact">Contact</a></li>
</ul>

<p style="font-size: small; color: gray;">Updated @DateTime.Now.ToString("T")</p>

