.box {
        width: 300px;   
        height: 150px; 
        padding: 20px;  
        border: 5px solid #333; 
        margin: 30px auto;   
        box-sizing: border-box;  
        background-color: lightblue;
        text-align: center;
        line-height: 150px;         
        font-weight: bold;
    }

    .display-block {
        display: block;
        background-color: #ffcccb;
        padding: 10px;
        margin-bottom: 10px;
    }

    .display-inline {
        display: inline;
        background-color: #90ee90;
        padding: 10px;
        margin-right: 10px;
    }

    .display-inline-block {
        display: inline-block;
        background-color: #add8e6;
        padding: 10px;
        width: 150px;
        text-align: center;
        margin-right: 10px;
    }

    .display-none {
        display: none;
    }

    .visibility-visible {
        visibility: visible;
        background-color: #ffa500;
        padding: 10px;
        margin-top: 10px;
    }

    .visibility-hidden {
        visibility: hidden; 
        background-color: #dda0dd;
        padding: 10px;
        margin-top: 10px;
    }

    .overflow-container {
        width: 200px;
        height: 100px;
        border: 2px solid #000;
        overflow: hidden;
        margin-top: 20px;
        background-color: #f0e68c;
        padding: 10px;
    }

    .overflow-scroll {
        width: 200px;
        height: 100px;
        border: 2px solid #000;
        overflow: scroll; 
        margin-top: 10px;
        background-color: #e6e6fa;
        padding: 10px;
    }