@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model MvcCrudDemo.Models.Student

<h2>Delete Student</h2>

<p>Are you sure you want to delete <b>@Model.Name</b>?</p>

@using (Html.BeginForm("Delete", "Student"))
{
    @Html.HiddenFor(m => m.Id)
    <button type="submit">Yes, Delete</button>
}
<a href="/Student/Index">Cancel</a>


