body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border: 2px solid #ccc;   
  box-shadow: 0 2px 5px rgb(183, 216, 238);
  border-radius: 8px;
}

.sticky{
  position:sticky;
    top: 0;
  padding: 5px;
  background-color:rgb(196, 244, 248);
  border: 2px solid rgb(5, 137, 149);
}
.box {
  padding: 15px;
  border:4px solid #3498db;
  margin: 10px ;
  background-color: #eaf4fb;
}



.fixed-box {
  width:150px;
  height: 80px;
  background-color:rgb(241, 247, 159);
  text-align: center;
  line-height: 80px;
  border: 2px solid rgb(211, 179, 0);
}


.box-sizing-demo {
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  border: 10px solid green;
  background-color: #d1f7d6;
}


.display-types span {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: #e3e3e3;
  display: block;
}

.block {
  display: block;
  background-color: lightblue;
}

.inline {
  display: inline;
  background-color: lightgreen;
}

.inline-block {
  display: inline-block;
  background-color: lightcoral;
}

.none {
  display: none;
}


.visible {
  color: green;
  visibility:visible;
}

.hidden {
  visibility: none ;
}

.overflow-box {
  width: 200px;
  height: 60px;
  border: 2px dotted purple;
  overflow: scroll;
  background-color:rgb(240, 177, 233);
  padding: 10px;
}
