@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model crud_mvc.Models.Student
<div class="container mt-4">
    <h2>Delete Student</h2>
    <p>Are you sure you want to delete <strong>@Model.FullName</strong>?</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>  
    </form>
</div>