*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    /* background-image: url("/professional.jpg"); */
    background-color: #e7ebf7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

main h1{
    margin-bottom: 2rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Main{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;
    gap: 1.5rem 5rem;
}

.Inputs{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Main .Inputs input, .Dd{
    padding: 8px;
}

.Dc{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.Option{
    min-width: 300px;
}

.Option p{
    margin-bottom: .5rem;
}

.Option > input{
    min-width: auto;
}

.Buttons{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}   

.Buttons button{
    padding: .5rem 2rem;
}

/* @media (max-width: 1220px) {
    .inputs, .option-btns{
        min-width: 250px;
    }
} */